@(title: String, assetsFinder: AssetsFinder)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/styles.css")">
        <link rel="shortcut icon" type="image/png" href="@assetsFinder.path("images/favicon.png")">
        <script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
        <script src="@assetsFinder.path("javascripts/main.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="base" class="">Test Page</div>



    </body>
</html>